*.o
/utils/asoft_basic-utils/asoft_compact
/utils/asoft_basic-utils/asoft_detoken
/utils/asoft_basic-utils/bin2data
/utils/asoft_basic-utils/integer_detoken
/utils/asoft_basic-utils/tokenize_asoft
/utils/asoft_presenter/asoft_presenter
/utils/asoft_sound/asoft_sound
/utils/bmp2dhr/b2d
/utils/dos33fs-utils/char2hex
/utils/dos33fs-utils/dos33
/utils/dos33fs-utils/dos33_raw
/utils/dos33fs-utils/dos33_text2ascii
/utils/dos33fs-utils/make_b
/utils/dos33fs-utils/mkdos33fs
/utils/gr-utils/png2fourrle
/utils/gr-utils/png2gr
/utils/gr-utils/png2gr_text
/utils/gr-utils/png2lz4
/utils/gr-utils/png2raw
/utils/gr-utils/png2rle
/utils/gr-utils/png2six80
/utils/gr-utils/png2sixbitmap
/utils/gr-utils/png2sixrle
/utils/gr-utils/png2sixrle2
/utils/gr-utils/png_16x16
/utils/gr-utils/png_to_40x48d
/utils/gr-utils/png_to_40x96
/utils/gr-utils/text2gr
/utils/hgr-utils/dump_table
/utils/hgr-utils/hgr2png
/utils/hgr-utils/hgr_make_sprite
/utils/hgr-utils/pcx2hgr
/utils/hgr-utils/png2dhgr
/utils/hgr-utils/png2hgr
/utils/hgr-utils/shape_table
